
body {
    font-family: "Lucida Sans Unicode";
    }
    h1 {
        font-family: "Lucida Sans Unicode";
        color:burlywood;
    }
    h2 {
        font-family: "Lucida Sans Unicode";
        color:rgb(150, 211, 58);
    }